.mat-dialog-title {
  display: flex;
  flex-flow: row;
  align-items: center;
}

[time]:hover {
  outline: var(--markBorder);
}

[weekdays] {
  display: flex;
  flex-flow: column;

  div {
    display: flex;
    flex-flow: wrap;

    button {
      min-width: initial;
      width: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1px;
      border: 1px solid transparent;
    }

    .mark {
      border: var(--markBorder);
    }
  }
}

[pill].mark {
  outline: 2px solid black;
  border: 2px solid white;
}

[divider] {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 0.5em;
}

