:host {
  ::ng-deep .mat-step-header .mat-step-icon,
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--toolbarBack) !important;
    color: #ff0 !important;
  }

  ::ng-deep .mat-step-icon-content span {
    display: none;
  }

  ::ng-deep .mat-step-icon-content .mat-icon {
    color: black;
  }
}

.mat-dialog-title {
  display: flex;
  flex-flow: row;
  align-items: center;
}

[time]:hover {
  outline: var(--markBorder);
}

[line] {
  margin-top: 2px;
}

[weekdays] {
  display: flex;
  flex-flow: column;

  div {
    display: flex;
    flex-flow: wrap;

    button {
      min-width: initial;
      width: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1px;
      border: 1px solid transparent;
    }

    .mark {
      border: var(--markBorder);
    }
  }
}

[pill].mark {
  outline: 2px solid black;
  border: 2px solid white;
}

[divider] {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 0.5em;
}

