[picker] {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 1em;

  [adjustment] {
    button {
      margin: 0;
      min-width: initial;
      padding: 0;
      width: 100%;
      background: transparent;
    }

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 2em;
  }

  [label] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  mat-form-field {
    width: 2em;

    input {
      text-align: center;
    }
  }
}

