<div picker>
  <div adjustment>
    <button (click)="clickAdjust(diff)" mat-flat-button>
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
  <div label>
    <div>{{label}}</div>
    <mat-form-field *ngIf="isEditMode">
      <input (blur)="blurValue()" (keyup)="keyupValue($event)" [(ngModel)]="value" autofocus matInput>
    </mat-form-field>
    <button (click)="clickValue()" *ngIf="!isEditMode" mat-flat-button>{{value}}</button>
  </div>
  <div adjustment>
    <button (click)="clickAdjust(-diff)" mat-flat-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
