.mat-dialog-title {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

[spacer] {
  flex: 1 1 auto;
}

.dialog {
  display: flex;
  flex-flow: row;
  background: white;
  z-index: 10000;

  [controls] {
    display: flex;
    flex-flow: column;
  }
}

.img {
  display: none;
}


input {
  display: none;
}

.lens {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
  background: red;
  display: none;
  border: 5px solid black;
}

#canvas {
  max-width: 400px;
  cursor: crosshair;
}

.color {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  outline: 1px solid black;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.current {
  border: 1px solid black;
  border-radius: 0.2em;
}
