.picker {
  position: absolute;
  background: white;
  z-index: 10000;
}

.img {
  display: none;
}


input {
  display: none;
}

.lens {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  background: red;
  display: none;
}

#canvas {
  max-width: 400px;
}

.currentColor {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
