<ng-container *ngIf="!isActive">
  <button (click)="clickActive($event)" mat-icon-button>
    <mat-icon>palette</mat-icon>
  </button>
</ng-container>
<div *ngIf="isActive" class="picker">
  <button (click)="clickFile($event)" mat-icon-button>
    <mat-icon>upload_file</mat-icon>
  </button>
  <input #imgSelect (change)="fileSelected($event)" type="file">
  <!-- Picker color code will be shown here -->
  <p class="res"></p>
  <!-- Selected image will be shown here -->
  <canvas #canvasImage (mouseenter)="canvasMouseEnter($event)" (mousemove)="canvasMouseMove($event)" (mouseout)="canvasMouseOut($event)" id="canvas"></canvas>
  <div #currentColor class="currentColor">{{currentRGB}}</div>
  <div class="palette"></div>
  <canvas #canvasLens class="lens" height="100" width="100"></canvas>
  <img #img [src]="imageDataUrl" alt="" class="img" id="img">
</div>
