input[type=file] {
  display: none;
}

.img {
  display: none;
}

.lens {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
  background: red;
  display: none;
  border: 5px solid black;
}

#canvas {
  max-width: 400px;
  cursor: crosshair;
}
