:host {
  --size: 7em;
}

[line] {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

[pill] {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  outline: 1px solid black;

  button {
    background-color: transparent;
  }

  [actions] {
    display: flex;
    flex-flow: row;
  }

  [label] {
    font-size: 80%;
    line-height: initial;
    color: inherit;
  }

  position: relative;

  [horz], [vert] {
    position: absolute;
    display: none;
    pointer-events: none;
  }

  [horz] {
    width: 100%;
    top: 50%;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    left: 0;
  }

  [vert] {
    height: 100%;
    border-left: 2px solid rgba(0, 0, 0, 0.7);
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    left: 50%;
    width: 0;
    top: 0;
  }
}

.mark {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.alert {
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
}

.alert.wiggle {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.alert.wobble {
  animation-name: wobble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    text-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7);
  }

  25% {
    transform: scale(1.5);
    text-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  50% {
    transform: scale(0.95);
    text-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes wiggle {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes wobble {
  50% {
    transform: none;
  }
  60% {
    transform: scaleX(1.5);
  }
  70% {
    transform: scaleX(1);
  }
  80% {
    transform: scaleX(0.5);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: none;
  }
}

.pill-container {
  margin: 2px;
  position: relative;
}

.pill-container.low {
  height: 8em;
}

.supplylow {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  line-height: 1em;
  position: absolute;
  width: 7em;
  left: calc(50% - 3.5em);
  bottom: 0;
  padding: 0.2em;
  background: rgba(255, 255, 255, 10.8);
  border-radius: 0.5em;
}

[content] {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

[title] {
  font-size: 0.8em;
}

[pill].roundL {
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

[pill].roundM {
  border-radius: 50%;

  [content] {
    transform: scale(0.85);
  }

  width: calc(var(--size) * 0.85);
  height: calc(var(--size) * 0.85);
}

[pill].roundS {
  border-radius: 50%;

  [content] {
    transform: scale(0.75);
  }

  width: calc(var(--size) * 0.75);
  height: calc(var(--size) * 0.75);
}

[pill].capsule {
  border-radius: var(--size);
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 0.75);
}

.splitv {
  [vert] {
    display: block;
  }
}

.splith {
  [horz] {
    display: block;
  }
}

button[pill] {
  cursor: pointer;
  border: none;
  --size: 5em;
}
