:host {
  --size: 7em;
}

mat-card {
  width: 20em;
  margin: 0.25em;
  cursor: pointer;

  mat-card-title {
    display: flex;
    justify-content: space-between;
  }
}

div[shapes] {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

[pill] {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  outline: 1px solid black;

  button {
    background-color: transparent;
  }

  [actions] {
    display: flex;
    flex-flow: row;
  }
}

[content] {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

[title] {
  font-size: 0.8em;
}

[pill].roundL {
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

[pill].roundM {
  border-radius: 50%;

  [content] {
    transform: scale(0.85);
  }

  width: calc(var(--size) * 0.85);
  height: calc(var(--size) * 0.85);
}

[pill].roundS {
  border-radius: 50%;

  [content] {
    transform: scale(0.75);
  }

  width: calc(var(--size) * 0.75);
  height: calc(var(--size) * 0.75);
}

[pill].capsule {
  border-radius: var(--size);
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 0.75);
}

button[pill] {
  cursor: pointer;
  border: none;
  --size: 5em;
}
