<mat-toolbar>
  <button (click)="clickMode($event)" mat-icon-button>
    <mat-icon>{{modeIcon}}</mat-icon>
  </button>
  <div spacer></div>
  <button (click)="clickPillman()" mat-icon-button>
    <app-pillman [isDoc]="ss.data.appMode==='edit'"></app-pillman>
  </button>
</mat-toolbar>
<div content>
  <app-pillman [isDoc]="ss.data.appMode==='edit'" [ngStyle]="{opacity:ss.data.showHelp ? 1.0 : 0.2}" [speak]="ss.data.showHelp"></app-pillman>
  <div *ngIf="ss.data.appMode==='timeline'" timeline>
    <div timespan>
      <div [ngStyle]="styleForCurrentmark" currentmark></div>
      <ng-container *ngFor="let entry of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]; let idx = index">
        <div [ngStyle]="styleForTimetext(entry)" timetext>
          {{entry}}
        </div>
        <div [ngStyle]="styleForTimemark(entry)" timemark></div>
      </ng-container>
    </div>
    <div timespan>
      <ng-container *ngFor="let entry of listTimeline">
        <div [ngStyle]="styleForTimeline(entry)" timepart>
          <div timemark></div>
          <div timepills>
            <ng-container *ngFor="let pill of entry.pills">
              <app-pill-view [pill]="pill"></app-pill-view>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="ss.data.appMode!=='timeline'">
    <ng-container *ngFor="let pill of listMedication; let idx = index">
      <app-pill-view *ngIf="ps.showPill(pill)" [idx]="idx" [pill]="pill"></app-pill-view>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="ss.data.appMode==='edit'">
    <button (click)="clickCross($event)" cross mat-flat-button>
      <div vert></div>
      <div horz i18n>
        <div>Medikament</div>
        <div>hinzufügen</div>
      </div>
    </button>
  </ng-container>
</div>
