<mat-toolbar>
  <button (click)="clickMode($event)" mat-icon-button>
    <mat-icon>{{modeIcon}}</mat-icon>
  </button>
  <span class="spacer"></span>
  <app-pillman [isDoc]="ss.data.appMode==='edit'"></app-pillman>
</mat-toolbar>
<div content>
  <app-pillman [isDoc]="ss.data.appMode==='edit'"></app-pillman>
  <ng-container *ngFor="let pill of ss.data.listMedication; let idx = index">
    <app-pill-view *ngIf="showPill(pill)" [idx]="idx" [pill]="pill"></app-pill-view>
  </ng-container>
  <ng-container *ngIf="ss.data.appMode==='edit'">
    <button (click)="clickCross($event)" cross mat-flat-button>
      <div horz></div>
      <div vert></div>
    </button>
  </ng-container>
</div>
