:host {
  height: 100vh;
  width: 100vw;
}

mat-toolbar {
  background-color: var(--toolbarBack);
  color: var(--toolbarFore);
  align-items: center;

  ::ng-deep app-pillman {
    height: 48px;

    svg {
      height: 48px;
    }
  }
}

[content] {
  display: flex;
  width: 100vw;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;

  ::ng-deep app-pillman {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -50%);

    svg {
      width: 100px;
    }
  }
}

[cross] {
  --size: 6em;
  position: relative;
  width: calc(var(--size) + 10px);
  height: calc(var(--size) + 10px);
  background-color: white;
  margin: 0;
  padding: 0;

  div {
    position: absolute;
    margin: 5px;
  }

  [horz] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: calc(var(--size) * 0.33);
    left: 0;
    top: calc(var(--size) * 0.33);
    background-color: red;

    div {
      position: initial;
      font-size: 0.8em;
      line-height: 0.2em;
    }
  }

  [vert] {
    width: calc(var(--size) * 0.33);
    height: var(--size);
    background-color: red;
    left: calc(var(--size) * 0.33);
    top: 0;
  }
}

[timeline] {
  display: flex;
  flex-flow: column;
  flex: 1;

  [timespan] {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    flex: 1;
    width: 90%;
    margin-left: 10%;
    position: relative;

    [currentmark] {
      position: absolute;
      top: -2em;
      width: 2px !important;
      background: rgba(255, 255, 255, 1.3);
      height: 5em;
    }

    [timetext] {
      display: flex;
      justify-content: center;
      width: 2em;
      position: absolute;
      top: 7px;
    }

    [timemark] {
      position: absolute;
      top: 0;
      height: 6px;
      width: 2px !important;
      background: rgba(0, 0, 0, 0.7);
    }

    [timepart] {
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: flex-end;
      position: relative;

      [timepills] {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
      }

      [timemark] {
        position: absolute;
        top: -2em;
        width: 2px !important;
        background: rgba(0, 0, 0, 0.3);
        height: calc(100% + 2em);
      }
    }
  }
}
