:host {
  height: 100vh;
  width: 100vw;
}

mat-toolbar {
  background-color: var(--toolbarBack);
  color: var(--toolbarFore);
  align-items: center;

  .spacer {
    flex: 1 1 auto;
  }

  ::ng-deep app-pillman {
    height: 48px;

    svg {
      height: 48px;
    }
  }
}

div[content] {
  display: flex;
  width: 100vw;
  flex-flow: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;

  ::ng-deep app-pillman {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -50%);
    opacity: 0.2;

    svg {
      width: 100px;
    }
  }
}

[cross] {
  --size: 6em;
  position: relative;
  width: calc(var(--size) + 10px);
  height: calc(var(--size) + 10px);
  background-color: white;
  margin: 0;
  padding: 0;

  div {
    position: absolute;
    margin: 5px;
  }

  [horz] {
    width: var(--size);
    height: calc(var(--size) * 0.33);
    left: 0;
    top: calc(var(--size) * 0.33);
    background-color: red;
  }

  [vert] {
    width: calc(var(--size) * 0.33);
    height: var(--size);
    background-color: red;
    left: calc(var(--size) * 0.33);
    top: 0;
  }
}
